<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="am.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Players"
            android:label="@string/title_activity_players"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="am.app.MainActivity" />
        </activity>
        <activity
            android:name=".HighScores"
            android:label="@string/title_activity_high_scores"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="am.app.MainActivity" />
        </activity>
        <activity
            android:name=".NameInput"
            android:label="@string/title_activity_name_input"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="am.app.MainActivity" />
        </activity>
        <activity
            android:name=".QuestionMethod"
            android:label="@string/title_activity_question_method"
            android:parentActivityName=".NameInput"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="am.app.NameInput" />
        </activity>
        <activity
            android:name=".RandomQuestion1"
            android:label="@string/title_activity_random_question1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectQuestions"
            android:label="@string/title_activity_select_questions"
            android:parentActivityName=".QuestionMethod"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="am.app.QuestionMethod" />
        </activity>
        <activity
            android:name=".RandomCorrect"
            android:label="@string/title_activity_random_correct"
            android:parentActivityName=".HighScores"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="am.app.HighScores" />
        </activity>
        <activity
            android:name=".RandomIncorrect"
            android:label="@string/title_activity_random_incorrect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RandomQuestionCheat"
            android:label="@string/title_activity_random_question_cheat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FinalScore"
            android:label="@string/title_activity_final_score"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectQuestionScreen"
            android:label="@string/title_activity_select_question_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectCorrect"
            android:label="@string/title_activity_select_correct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectIncorrect"
            android:label="@string/title_activity_select_incorrect"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>